*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color: #ffebcd;
    --second-main-color: #808e9b;

}

body{
    /* width: 1300px; */
}
.header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0.75;
    font-weight: 900;
    color: var(--second-main-color);
    position: fixed;
    color: var(--main-color);
     border-bottom: 1px solid #f0f0f0;
}

.navbar{
    width: 25%;
}
.navbar-ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

    font-size: 1.5rem;
}
.main{
    text-align: center;
    background-image: url("./img/coding-1853305_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 685px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.apresentacao{
    font-size: 2rem;
    color: var(--main-color);
    /* filter: drop-shadow(0 0 0.25rem white) */
}

.sobre-mim{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 300px;
}
.sobre-mim-container{
    width: 50%;
    margin-top: 5%;
    box-shadow: 10px black;
}
.sobre-mim-info h2{
    font-size: 2em;
    line-height: 1.5;
}

.sobre-mim-info p{
    font-size: 1.5em;
    line-height: 1.5;
} 

.projetos{
    width: 100%;
    height: 600px;
    margin-top: 10%;

    display: flex;
    justify-content: space-evenly;

}
.projetos-title{
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}
/* 
.projeto{
    width: 400px;
    height: 400px;

    border: 1px solid black;
}  */

.projeto1{
    width: 400px;
    /* height: 400px; */
    background-image:url("./img/projeto1.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;


}
.projeto2{
    width: 400px;
    height: 550px;
    background-image:url("./img/projeto2.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;    
}

.projeto3{
    width: 400px;
}
.projeto1, .projeto2{
    filter: drop-shadow(10px 10px 10px  black);
}
.footer{
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}
.footer-container{
    width: 150px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}